@charset "UTF-8";
/* Filename : css/common.css */

/* a config */
a {
	text-decoration: none;
}
a:hover {
	color : red;
}

/* form config : input 태그 block, margin 설정 */
input{
	display: block;
	margin: 5px;
}

/* form config : input 태그 submit, reset, button inline 설정 */
input[type="submit"], input[type="reset"],input[type="button"]{
	display: inline;
}
